@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --text-primary:#fff;
  --bgPrimary:#fff;
 --bgSecondary: #F9F9F9;
 --bgTertiary: #383d5d;
 --pink: #0071bd;
 --light-blue: #e6f7ff;
 --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body{
  background: #1d203f !important;
}

a:hover{
  color: var(--pink) !important;
}

.app{
  display: flex;
  overflow: hidden;
}

.navbar{
  flex: 0.2;
  background-color: rgba(16, 7,71, 1);
}
.white{
  color: var(--text-primary) !important;
}

.main{
  flex: 0.8;
  width: 100%;
}
.routes{
  background-color: #1d203f;
}
.global-container,
.cryptocurrencies-container,
.coin-detail-container,
.news-container{
  padding: 20px;
}

.nav-container{
  position: fixed !important;
  left: 0;
  margin: 10px;
  height: 100vh;
  margin: 0px;
  background-color: rgba(16, 7,71, 1);
  z-index: 10000 !important;
}
.nav-container .ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 30px !important;
  overflow: hidden;
  line-height: 40px;
  text-overflow: ellipsis;
  z-index: 10000 !important;
}

.logo-container{
  background-color: #100747;
  display: flex;
  padding: 10px 20px 10px 30px !important;
  align-items: center;
  width: 100%;
  z-index: 100 !important;
  position: relative !important;
}
.logo-container h2{
  margin-bottom: 0em !important;
}
.logo{
  margin:0 0 0 15px;
}
.logo a{
 color: rgb(76, 221, 242) !important;
}
.nav-container .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::selection .ant-menu-item-selected::selection {
  background: rgba(16, 7,71, 1) !important;
}
.menu-control-container{
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  background-color: var(--bgSecondary) !important;
  border: none !important;
  z-index: 10 !important;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  background: #100747 !important;
  z-index: 10 !important;
  position: relative;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: rgb(228,76,242);
  width: 240px;
  margin-left: 15px !important;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(228, 76, 242) 20%, rgb(76, 221, 242) 100%);
}
.nav-container .ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  padding-left: 20px !important;
  margin-left: 15px !important;
}
.nav-ads-card{
  width: 230px !important;
  padding-left: 0px !important;
  margin-left: 20px !important;
  background: url('./images/line.svg') center right !important;
  background-color: rgba(26, 7,110, 1) !important;
  -webkit-box-shadow: 0 8px 13.5px -1.5px #131427;
  -moz-box-shadow: 0 8px 13.5px -1.5px #131427;
  box-shadow: 0 8px 13.5px -1.5px #131427;
  color: #fff !important;
  font-size: 13px !important;
  font-weight: 200 !important;
  line-height: 1.3 !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important; 
  overflow: hidden;
  width: 185px;
  height: 180px;
  margin-top: 60px !important;
}
.nav-ads-card .nav-card-title-1{
  color: rgba(255,255,255,0.5) !important;
  font-weight: 300;
  margin: 0 0 3px;
  font-size: 11px !important;
}
.nav-ads-card .nav-card-title-2{
  color: rgb(76, 221, 242) !important;
}
.nav-ads-cc{
  width: 98% !important;
  margin-bottom: -40px !important;
  transition: margin 0.5s, height 0.5s, transform 0.5s;
}
.nav-ads-cc:hover{
  width: 98% !important;
  margin-bottom: 36px !important;
  cursor: pointer;
  box-shadow: 0.5px 15.5px 8px 1px rgba(0,0,0,0.5) !important;
}
.circles{
  position: relative;
}
.bg-circles{
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #8419e8;
  border: 1px solid #8419e8;
  position: absolute;
  -webkit-box-shadow: -1px -1px 62px 122px #8419e8;
  -moz-box-shadow: -1px -1px 62px 122px #8419e8;
  box-shadow: -1px -1px 62px 122px #8419e8;
}
.circle-1{
  top: -70px;
  z-index: -1;
}
.circle-2{
  top: 70%;
  right: -90px;
  z-index: -1;
}
.circle-3{
  bottom: -70px;
  left: 30%;
  z-index: 1;
}
.ant-typography {
  margin-top: 0em !important;
}
@media screen and (max-width:500px){
  .nav-container{
    height: 8vh;
    position:fixed;
    width: 100%;
    height: 130vh ;
    z-index: 100;
    background-color: var(--bgSecondary);
  }
}


/*--------------------- HOMEPAGE ---------------------*/
.header-container{
  background: #2b2f48 !important;
  height: 50px !important;
  padding: 12px 0px !important;
}
.header-container .ant-input,
.header-container .ant-input-affix-wrapper,
.header-container .ant-btn{
  background: #292c48 !important;
  border-color: rgba(255, 255, 255, 0.3) !important;
  color: #fff !important;
  font-weight: 200;
}
.header-container .ant-input-affix-wrapper{
  border-radius: 10px 0 0 10px !important;
}
.header-container .ant-input-group-addon,
.header-container .ant-btn-sm{
  border-radius: 0 10px 10px 0 !important;
}
.anticon.ant-input-clear-icon, .ant-input-clear-icon {
  color: rgba(255, 255, 255,1) !important;
}
.main-container{
  background-color: #1d203f;
  padding: 13px 20px;
}
.main-heading-card{
  background: url('./images/home_bg.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-left: 5px !important;
  background-position: bottom !important; 
  box-shadow: 0.5px 15.5px 14px 1px #131427 !important;
  border-radius: 15px !important;
  color: #000 !important;
  font-size: 13px !important;
  font-weight: 200 !important;
  line-height: 1.3 !important;
  width: 98%;
  height: 160px;
}
.main-heading-card-bg {
  position: absolute;
  width: 100%;
  height: 160px;
  border-radius: 15px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-heading-title{
  color: #000 !important;
}
.heading-explore-button,
.sidebar-button{
  background: rgb(228,76,242) !important;
  background: linear-gradient(90deg, rgba(228,76,242,1) 20%, rgba(76,221,242,1) 100%) !important; 
}
/*MAIN - DRAWER*/
.ant-drawer-content {
  background: var(--bgTertiary) !important;
}
.ant-drawer-body {
  padding: 10px 24px !important;
}
.ant-drawer-header{
  border-bottom: 1px solid rgba(255,255,255, 0.2) !important;
}
.ant-drawer-title {
  color: rgba(255,255,255, 0.85) !important;
}
.ant-drawer-close {
  color: rgba(255,255,255, 1) !important;
}
/*MAIN - DRAWER - SETTINGS*/
.ant-form-item-label > label {
  height: 0px !important;
  color: rgba(255,255,255, 0.7) !important;
  font-size: 11px !important;
}
.ant-input {
  padding: 0px 11px !important;
  color: var(--text-primary) !important;
  font-size: 12px !important;
  background-color: var(--bgTertiary) !important;
  /* border-radius: 5px !important; */
}
.ant-form-item {
  margin-bottom: 4px !important;
}
.ant-form-vertical .ant-form-item-label, .ant-col-24.ant-form-item-label, .ant-col-xl-24.ant-form-item-label {
  padding: 0 0 0px !important;
}
.ant-checkbox-wrapper {
  color: rgba(255,255,255, 0.85) !important;
  font-size: 12px !important;
}
.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0px !important;
}
/*MAIN - DRAWER - CREDIT CARDS*/
.drawer-cc{
  width: 84% !important;
  margin-bottom: -40px !important;
  transition: margin 0.5s, height 0.5s, transform 0.5s;
  background: transparent;
  border-radius: 15px;
  box-shadow: 0.5px 15.5px 8px 1px rgba(0,0,0,0.5) !important;
}
.drawer-cc:hover{
  width: 84% !important;
  margin-bottom: 36px !important;
  cursor: pointer;
}
/*MAIN - DRAWER - MESSAGES*/
.chat-list-item .ant-list-item-meta-title {
  color: var(--text-primary);
  font-size: 17px;
  line-height: 1;
  margin-bottom: 0px;
}
.chat-content,
.chat-list-item .ant-list-item-meta-description {
  color: rgba(255,255,255, 0.5);
  font-size: 12px;
  line-height: 1.5715;
  font-weight: 300 important;
}
/* NFT COLLECTION*/
.nft-heading-card{
  background: url('./images/home_bg.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 14px !important;
  background-position: bottom !important; 
  box-shadow: 0.5px 15.5px 14px 1px #131427 !important;
  border-radius: 15px !important;
  color: #000 !important;
  font-size: 13px !important;
  font-weight: 200 !important;
  line-height: 1.3 !important;
  width: 100%;
  height: 160px;
}
.nft-collection-wrapper{
  position: relative !important;
}
.homepage-nft-collection{
  padding: -100px !important;
  font-size: 7px !important;
  border: 1px solid red !important;
  transition: margin 0.5s, height 0.5s, transform 1s;
  overflow: hidden;
}
.my-nft-collection{
  padding: -100px !important;
  font-size: 7px !important;
  border: 1px solid red !important;
  transition: margin 0.5s, height 0.5s, transform 1s;
  overflow: hidden;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #2a2b47 !important;
  border: 1px solid rgba(255,255,255, 0.3) !important;
  border-radius: 2px;
}
.ant-select-arrow {
  color: rgba(255, 255, 255, 0.25) !important;
}
.ant-select {
  color: rgba(255,255,255,0.3) !important;
}
.ant-select-item {
  color: gray !important;
}
.ant-select-dropdown {
  color: #000;
  background-color: #2a2b47 !important;
}
.homepage-nft-collection:hover{
  margin-top: -10px !important;
}
.my-nft-collection:hover{
  margin-top: -10px !important;
}
.nft-collection-data:hover + .nft-buy-button{
  display: grid;
}
.nft-buy-button{
  font-size: 13px;
  font-weight: 500;
  background: rgb(228,76,242);
  background: linear-gradient(90deg, rgba(228,76,242,1) 20%, rgba(76,221,242,1) 100%); 
  height: 35px;
  width: 165px;
  margin: -6px -8px;
  place-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.nft-collection-stats p{
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0;
  color: var(--text-primary);
}
.nft-collection-stats p:nth-child(2){
  color: rgba(255,255,255,0.3);
}
.ant-divider {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  border-top: 1px solid rgba(255, 255, 255, 0.06) !important;
}
.nft-title-heading{
  font-size: 13px !important;
  right: 9px !important;
  top: 12px !important;
  position: absolute !important;
}
.nft-discover-heading-card{
  margin-bottom: 14px !important;
  height: 300px !important;
  box-shadow: 0.5px 15.5px 14px 1px #131427 !important;
  border-radius: 15px !important;
  color: #000 !important;
  font-size: 13px !important;
  font-weight: 200 !important;
  line-height: 1.3 !important;
  width: 100%;
  overflow: hidden; 
}
.nft-discover-heading-img{
    position: absolute; 
    bottom: 0; 
    left: 40px; 
    border: 8px solid #fff; 
    border-radius: 15px;
}
.nft-discover-heading-wrapper{
  position: relative;
  height: 300px;
  width: 100%;
}
.nft-discover-profile-image{
  position: absolute !important;
  bottom: -100px !important;
  left: -10px !important;
}
.nft-discover-desc-wrapper{
  padding: 40px;
}
/* SIDEBAR*/
.sidebar-container{
  background: #2b2f48 !important;
  min-width: 250px !important;
  border-left: 1px solid pink;
}
.sidebar-user{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-betweeen !important;
  height: 50px !important;
  padding: 0 10px !important;
  border: 1px solid rgba(255,255,255, 0.1) !important;
}
.sidebar-user-badge{
  font-size: 19px;
  color: gray !important;
  cursor: pointer !important;
}
.sidebar-user-badge:hover{
  color: cyan !important;
}

.sidebar-assets,
.sidebar-transactions{
  padding: 0 10px;
}
.home-chart-card{
  margin-left: 7px !important;
}
.home-chart-card .ant-card-body{
  padding: 6px;
}
.home-chart-card .ant-card-body > canvas{
  height: 170px !important;
  width: 380px !important;
}
.home-donut-card{
  margin-left: 2px !important;
}
.home-donut-card .ant-card-body{
  padding: 4px;
}
.home-donut-card .ant-card-body > canvas{
  height: 165px !important;
  width: 180px !important;
}
.home-transactions-card .ant-card-body{
  padding: 12px !important;
}
.home-transactions-card .ant-list-item {
  padding: 2.5px 0;
}
.transactions-title,
.nav-card-title-2{
  font-size: 13px !important;
}
.transactions-list-item .ant-list-item-meta-title {
  color: #fff;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 0px;
}
.transactions-content,
.transactions-list-item .ant-list-item-meta-description {
  color: #fff;
  font-size: 11px;
  line-height: 1.5715;
}

/* SIDEBAR */
.sidebar-container{
  color: #fff !important;
}
.sidebar-user-right{
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-evenly;
}
.sidebar-profile{
  pointer-events: none !important;
  width: 100% !important;
}
.sidebar-profile .ant-card-meta-title{
  color: #fff !important;
}
.sidebar-profile .ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: -5px;
}
.sidebar-profile .ant-card-meta-description{
  color: rgba(255, 255, 255, 0.3) !important;
}
.assets-image{
  width: 50px;
  margin-top: -10px;
}
.sidebar-port .ant-card-body{
  padding: 10px 14px;
}
.sidebar-transactions {
  margin-top: 20px !important;
}
.sidebar-port-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: -20px;
}
.assets-card{
  background: var(--bgTertiary) !important;
  box-shadow: 0.5px 15.5px 14px 1px #131427 !important;
  border-radius: 10px !important;
  color: #fff !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  line-height: 0.4 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px 0px;
  align-items: center;
}
@media screen and (max-width: 500px){
  {/* NAVBAR */}
  .logo-container{
  padding: 10px 10px 10px 20px !important;
  width: 100%;
  }
  .logo{
    margin:0 0 0 5px;
    font-sze: 20% !important;
  }
  .menu-control-container{
    top: 15px !important;
    font-size: 1rem !important;
    background-color: var(--bgTertiary) !important;
  }
  {/* MAIN */}
  .header-container{
    margin-top: -30px !important;
    margin-left: 0px !important;
  }
  .header-container p{
    font-size: 100% !important;
    margin-left: 30px;
  }
  .header-search{
    padding-top: 3px;
    width: 170% !important;
  }
  {/* MAIN - HEADER CARD */}
  .main-heading-card{
    height: 140px;
  }
  .main-heading-card-bg {
    height: 140px;
  }
  .main-heading-title{
    font-size: 130% !important;
    margin-bottom: 30px;
  }
  .heading-explore-button{
    /* margin-top: 20px; */
  }
  .sidebar-container{
      display: none;
  }
  {/* MAIN - NFT COLLECTION */}
  .nft-title-heading{
    display: none;
  }
  .nft-collection-grid{
    display: grid !important;
    grid-template-columns: auto auto !important;
    gap: 30px 30px !important;
    place-content: center;
    overflow-y: visible !important;
  }
    /* HOME -LINECHART */
    .home-chart-card{
      height: 100% !important;
      width: 100% !important;
      margin-left: 0px !important;
    }
    .home-chart-card .ant-card-body{
      padding: 0px;
    }
    .home-chart-card .ant-card-body > canvas{
      height: 100% !important;
      width: 100% !important;
    }
    /*HOME - RECENT TX*/
  .home-donut-card{
    width: 100% !important;
    height: 100% !important;
    margin-left: 0px !important;
  }
  .home-donut-card .ant-card-body > canvas{
    height: 100% !important;
    width: 100% !important;
    margin-left: 0px !important;
    padding: 6px;
  }
  .home-transactions-card{
    width: 100% !important;
    height: 100% !important;
  }
  /* SIDEBAR*/
  .sidebar-user-mobile{
    margin: -15px 25px 0 0;
  }
}

/*------------- CHART -----------*/
.chart-container{
  height: 100vh;
}
@media screen and (max-width: 500px){
  .chart-container{
    height: 91vh;
    margin-top: -30px; 
  }
}

/*--------------------- GLOBAL PAGE ---------------------*/
.global-heading-card{
  background: url('./images/global_bg.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  box-shadow: 0.5px 15.5px 14px 1px #131427 !important;
  border-radius: 15px !important;
  color: #fff !important;
  font-size: 13px !important;
  font-weight: 200 !important;
  line-height: 1.3 !important;
}
.ant-statistic-title, .ant-statistic-content-value-int, .ant-statistic-content-value{
  color: #fff !important;
}
.global-components-container{
  margin: -20px !important;
}
/* ANT CARDS*/
.ant-typography{
  color: #fff !important;
}
.cryptocurrencies-card,
.stats-card,
.chart-card-container,
.coin-desc-card,
.homepage-nft-collection,
.my-nft-collection,
.home-chart-card,
.home-donut-card,
.home-transactions-card,
.sidebar-port{
  background: var(--bgTertiary) !important;
  box-shadow: 0.5px 15.5px 14px 1px #131427 !important;
  border-radius: 15px !important;
  color: #fff !important;
  font-size: 13px !important;
  font-weight: 200 !important;
  line-height: 1.3 !important;
}

.ant-card-head {
  color: #fff !important;
  border-bottom: 1px solid #2b2f48 !important;
}
.ant-tabs{
  color: #fff !important;
}
.ant-tabs-tab{
  font-size: 12px !important;
}

.my-nft-collection .ant-card-body,
.homepage-nft-collection .ant-card-body{
  padding: 5px 8px 0px !important;
  font-size: 10px !important;
  line-height: 1 !important;
}

.crypto-card .ant-card-body{
  padding: 10px 14px 0px !important;
}
.news-card{
  padding: 0px 0px 0px !important;
}

.ant-card-bordered {
  border: 0px solid !important;
}

.news-card {
  min-height: 270px !important;
  background: var(--bgTertiary) !important;
  box-shadow: 0.5px 15.5px 14px 1px #131427 !important;
  border-radius: 15px !important;
  color: #fff !important;
  font-size: 13px !important;
  font-weight: 200 !important;
  line-height: 1.3 !important;
}

.news-image-container {
  max-height: 130px !important;
  margin-bottom: 30px;
  gap: 0.2rem;
}

.news-image-container > img {
  aspect-ratio: 9/11;
}

.news-image-container > .ant-typography {
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
}

.news-card p {
  color: rgba(255, 255, 255, 0.8) !important;
}

.provider-container {
  align-items: center  !important;
  font-size: 10px;
  margin-top: 20px;
}
@media screen and (max-width: 500px){
  .global-heading-card{
    background-position: 30% 10% !important;
    font-weight: 200 !important;
    line-height: 1 !important;
  }
  .heading{
  margin-top: -30px !important;
  font-size: 110% !important;
  }
  .ant-statistic-title{
    font-weight: 500;
  }
  .ant-statistic-title,
  .ant-statistic-content-value{
  font-size: 70% !important;
  }
}
/*--------------------- CRYPTO-DETAILS---------------------*/
.chart-card-container{
  width: 1011px;
}
.coin-name-desc{
  font-size: 14px !important;
}

.ant-input::selection{
  background-color: #2a2b47;
}

/*SIGN UP*/
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.loader{
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:1300px){
  .main{
      margin-left: 50px;
  }
}

@media screen and (max-width:1170px){
  .main{
      margin-left: 50px;
  }
}

@media screen and (max-width:1000px){
  .main{
      margin-left: 100px;
  }
}

/*FOR IPAD*/
@media (min-width:600px) and (max-width:1100px){
  /*NAVBAR*/
  .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    width: 220px;
  }
  .nav-ads-card{
    width: 210px !important;
  }
  /*HOME- HEADER*/
  .header-container{
    margin-left: -5px !important;
  }
  .main-heading-card{
  background-size: 130% 170% !important;
  background-position: bottom right !important; 
  }
  
  /*HOME - NFT COLLECTION*/
  .nft-collection-wrapper{
    margin-bottom: 10px !important;
  }
  /* HOME -LINECHART */
  .home-chart-card{
    margin-left: 7px !important;
  }
  .home-chart-card .ant-card-body{
    padding: 6px;
  }
  .home-chart-card .ant-card-body > canvas{
    height: 195px !important;
    width: 375px !important;
  }
  /* HOME -DONUT */
  .home-donut-card{
    margin-left: -11px !important;
  }
  .home-donut-card .ant-card-body > canvas{
    height: 195px !important;
    width: 180px !important;
    margin-left: -5px !important;
  }
  /*HOME - RECENT TX*/
  .home-transactions-column{
    display: none !important;
  }
  .transactions-list-item .ant-list-item-meta-title {
    color: #fff;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
  }
  .transactions-list-item .ant-list-item-meta-avatar {
    margin-right: 4px;
  }
  /* SIDEBAR*/
  .sidebar-container{
    background: #2b2f48 !important;
    min-width: 210px !important;
    border-left: 1px solid pink;
  }
  .sidebar-transactions {
    margin-bottom: 50px;
  }
  /*NFT*/
  .nft-buy-button{
    width: 190px;
  }
  /*CRYPTO*/
  .cryptocurrencies-header {
    width: 840px !important;
    margin: -20px -20px 0 -30px !important;
  }
  .crypto-card{
    max-width: 260px !important;
  }
  /* CRYPTO-DETAILS*/
  .chart-card-container{
    width: 750px;
  }
  .coin-stats{
    font-size: 12px !important;
    padding: 5px !important;
  }
  .coin-stats-name{
    font-size: 12px !important;
  }
  .coin-desc-link p {
    font-size: 14px !important;
  }
  /*NEWS*/
  .news-image-container > .ant-typography {
    line-height: 1.2;
    font-weight: 300;
    font-size: 13px;
  }
}

@media screen and (max-width:800px){
  .app{
      flex-direction: column;
      overflow: hidden;
  }

  .navbar{
      flex: 1;
  }
  .main{
      flex: 1;
      margin-top: 90px;
      margin-left: 0px;
      margin-right: 10px;
  }
  .nav-container{
      height: 8vh;
      position:fixed;
      width: 100%;
      z-index: 100;
      background-color: var(--bgSecondary);
  }
  .menu-control-container{
      display: block !important;
  }
  .ant-menu{
      position: absolute;
      right: 0px;
  }
  .home-title{
      font-size: 1.4rem !important;
  }
  .show-more{
      font-size: 1.3rem !important;
  }
}

.coin-detail-container{
  margin: 30px;
}
.coin-heading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid var(--border);
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}
.coin-heading-container .coin-name{
  font-weight: 600;
  color: var(--pink);
}

.coin-heading-container p{
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.stats-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 0px !important;
}

.stats-container h2{
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 20px;
  color: var(--pink);
}

.coin-details-heading{
  font-size: 14px !important;
  font-weight: 600 !important;
  margin-top: 20px !important;
  color: var(--text-primary) !important;
}

.coin-details-heading>h3 {
  color: var(--text-primary) !important;
}
.coin-details-desc {
  font-size: 14px !important;
}

.coin-stats{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 14px;
  opacity: 0.9;
  padding: 9px;
}
.coin-stats-name{
  display: flex;
  gap: 10px;
  font-size: 14px;
}
.stats{
  font-weight: 600;
}
.coin-value-statistics, .other-stats-info{
  margin: -15px -10px 20px !important;
}
.coin-value-statistics-heading {
  padding: 0px !important;
}
.coin-value-statistics-heading p{
  font-size: 1rem;
  opacity: 0.9;
}
.coin-desc-link{
  display: flex;
  gap: 40px;
  padding-top: 20px;
}
.coin-desc-link h2{
  font-weight: 700;
  color: var(--pink);
}
.coin-desc-link p{
  font-size: 1rem;
  opacity: 0.9;
}
.coin-desc-link a{
  color: var(--pink);
}
.coin-desc-link h3{
  font-weight: 700;
  color: var(--text-primary);
}
.coin-desc{
  flex: 0.5;
}
.coin-links{
padding: 0px 20px;
  flex: 0.5;
}
.coin-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding: 20px;
}
.coin-links .ant-row::selection {
  color: #000 !important;
  background: #000 !important;
}
.link-name{
  text-transform: capitalize;
  font-size: 1rem;
}
.coin-link a{
  color: var(--pink);
  font-weight: 700;
  font-size: 1rem;
}

.coin-link:hover, .coin-stats:hover{
  background-color: var(--bgSecondary);
}

@media screen and (max-width:1000px){
  .stats-container{
      flex-direction: column;
  }
  .coin-desc-link{
      flex-direction: column;
  }
  .stats-container h2{
      margin-top: 0px;
  }
}

@media screen and (max-width: 500px){
  .coin-links{
      padding: 0px;
  }
  .coin-detail-container{
      margin: 0;
  }
}
@media screen and (max-width: 500px){
  .heading{
      margin-top: 20px;
  }
  .nav-ads-card{
    margin-top: 70px !important;
    margin-bottom: 30px !important;
  }
}

/*-------------- NEWS------------------ */
.select-news{
  width: 180px;
}
.news-card{
  min-height: 300px !important;
}
.news-image-container{
  display: flex !important;
  justify-content: space-between !important;
}
.news-title{
width: 70%;
}
.news-image-container .img{
  width:100px;
  height:100px;
}
.news-card p{
  color: black;
  margin: 10px 0px !important;
}
.provider-container{
  display: flex;
  justify-content: space-between;
}
.provider-name{
  margin-left: 10px;
}

.chart-header{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #fff;
}
.chart-title{
  color: #fff !important;
}
.price-container{
  display: flex !important;
  gap: 20px !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.price-change{
  font-weight: 500 !important;
}
.current-price{
  margin-top: 0px !important;
  font-weight: 500 !important;
}
.home-heading-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.show-more{
  margin-top: 0px !important;
  color: #fff !important;
}
.exchange-image{
  margin: 0px 10px !important;
}
.cryptocurrencies-header {
  background: #2b2f48 !important;
  width: 1080px;
  height: 50px;
  position: fixed;
  z-index: 10;
}
.search-crypto{
  margin: 15px auto 50px auto;
  width: 250px;
  background-color: #2b2f48 !important;
}
.crypto-card-container{
  min-height: 65vh !important;
}
.crypto-card{
  max-width: 240px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.crypto-card .crypto-image{
  width:35px;
  height:35px;
}
.cryptocurrencies-details-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-tems: center;
  height: 60px;
}
.cryptocurrencies-details-2{
  display: flex; 
  flex-direction: column; 
  height: 60px;
}
.select-timeperiod{
  width: 200px !important;
  margin-top: 20px !important;
}
@media screen and (max-width: 500px){
  .show-more,
  .home-title{
    font-size: 110% !important;
  }
  .crypto-card{
  max-width: 370px !important;
  }
  .crypto-card .ant-card-head-title,
  .crypto-card .ant-card-extra{
    padding: 10px 0 5px !important;
  }
  .cryptocurrencies-details-1{
    height: 0px !important;
  }
  .cryptocurrencies-details-1 > p{
    height: 30px !important;
    font-size: 200%  !important;
    margin-top: 10px !important;
  }
  .cryptocurrencies-details-2{
    flex-direction: row !important; 
    height: 40px;
  }
  .crypto-card-container{
  min-height: 10vh !important;
  margin-top: 10px;
  }
  .crypto-card .crypto-image{
    width:25px;
    height:25px;
  }
  .cryptocurrencies-container{
    padding: 0px 20px;
  }
  .cryptocurrencies-header {
  width: 100% !important;
  margin: -40px 0px 0px 0px !important;
  height: 50px;
  right: 0 !important;
  left: 0 !important;
  position: fixed;
  z-index: 10;
}
  .search-crypto{
  margin: 15px auto 50px auto;
  width: 250px;
  }

}

/*--------- NFT PAGE -----------*/
@media screen and (max-width: 500px){
  .nft-heading-card{
    height: 140px;
    font-size: 100% !important;
  }
  .my-nft-collection{
    width: 100% !important;
    height: 390px !important;
  }
  .my-nft-collection p {
    text-align: center;
    font-size: 150% !important;
  }
  .my-nft-collection p:nth-child(1) {
    margin-bottom: 7px !important;
  }
  .my-nft-collection .ant-card-cover img{
    max-width: 100% !important;
    max-height: 100% !important;
  }
  .nft-discover-heading-wrapper{
    height: 220px !important;
  }
  .nft-collection-stats p{
    font-weight: 300;
    font-size: 75% !important;
  }
  .nft-discover-heading-wrapper > p {
    font-size: 40% !important;
  }
  .nft-discover-heading-card{
    margin-bottom: 0px !important;
    height: 200px !important;
  }
  .nft-discover-heading-img{
    left: 20px !important; 
    width: 100px !important;
  }
  .nft-discover-heading-card > .ant-image{
    width: 70px !important;
  }
  .nft-discover-heading-card img{
    margin-bottom: 0px !important;
    height: 200px !important;
  }
  .nft-discover-desc-wrapper{
  padding: 0px 10px;
  }
  .nft-buy-button{
    width: 107% !important;
  }
}

/*-------------- FOOTER----------------- */
.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

/* ---------------------- LOGIN PAGE ------------------------ */
.login-container{
  background: url('./images/landing/footerBg.png') center right !important;
  padding: 30px 80px;
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.login-form{
  display: flex;
  flex-direction: column;  
  border-radius: 20px;
}
/* .login-form-spin{
  margin-left: 20px !important;
} */
.login-form > input{
  margin-bottom: 6px;
  width: 100%;
  height: 35px;
  padding: 0 7px;
}
.login-form .ant-form-item-control-input-content input {
  height: 28px;
}
.login-form .ant-form-item-explain-error {
  font-size: 12px;
}
.login-form .ant-input {
  font-size: 15px !important;
  font-weight: 300 !important;
}
.login-form .ant-input-affix-wrapper {
  padding: 0px 7px 0px 0px;
  background-color: var(--bgTertiary);
  border: 1px solid white;
}
.login-form .ant-input-password-icon.anticon {
  color: var(--text-primary);
}
.login-form-spin .ant-spin .ant-spin-dot {
  color: #fff !important;
}


/* .login-form .ant-input-affix-wrapper > input.ant-input {
  border: 1px solid var(--text-primary);
} */
.login-form-button1{
  margin: 20px 20px 10px 0px;
  width: 100%;
}
.login-form-button2{
  margin: 20px 0px 10px 0px;
  width: 30%;
}
.login-form-button3{
  margin: 20px 20px 10px 0px;
  width: 100%;
}
.login-form-logo{
  position: absolute;
  bottom: -70%;
  border-radius: 50px;
  border: 7px solid #120649;
  -webkit-box-shadow: 0 0 0 5px #413350 !important;
  -moz-box-shadow: 0 0 0 5px #413350 !important;
  box-shadow: 0 0 0 5px #413350 !important;
}
.login-form-header{
  background: url('./images/landing/loginFormBg.png') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
  display: flex;
  justify-content: center;
}
.login-form-content{
  padding: 30px 30px 0px;
}
.login-form-layout{
  background: rgba(255,255,255,0.2)!important;
  -webkit-backdrop-filter: blur(10px)!important;
  backdrop-filter: blur(10px)!important;
}
.login-form-container{
  border: 1px solid rgba(255,255,255,0.5);
  min-height: 90vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
@media (min-width: 200px) and (max-width: 400px){
  .login-container{
    background: url('./images/landing/footerBg.png') center right !important;
    padding: 20px 10px;
    overflow: hidden;
    position: relative;
    height: 100vh;
    margin-bottom: -90px;
  }
  /* .login-form-spin{
    margin-left: 20px !important;
  } */
  .login-form-text{
    font-size: 14px !important;
  }
  .login-form .ant-upload-list-item-name {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    display:inline-block !important;
    max-width: 19ch !important;
  }
}

/* ---------------------- LANDING PAGE ------------------------ */

/* HERO */
.landing-hero-container{
  background: url('./images/landing/heroBg-1.png') center right, url('./images/landing/heroBg-2.png') center top !important;
  padding: 30px 80px;
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.landing-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.landing-nav-logo{
  display: flex;
}
.landing-nav-item{
  display: flex;
}
.landing-nav-list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: white;
}
.landing-nav-listItem:hover {
  color: #1ff2f8;
}
.landing-nav-listItem{
  color: white;
}
.landing-nav-listItem:nth-child(2){
  margin: 0 40px;
}
.landing-nav-signin{
  padding: 3px 20px;
  background: none;
  border: 1px #4AED52 solid;
  color: white;
  border-radius: 5px;
  cursor: pointer;  
}
.landing-nav-signin:hover {
  background: rgba(74, 237, 82, 0.3);
}

.landing-hero-grid1{
  display: flex;
  flex-shrink: 0;
}
.landing-hero-grid3{
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
}
.landing-hero-grid2{
  display: flex;
  flex-shrink: 2;
}

.landing-hero-connect{
  padding: 3px 20px;
  background: rgba(189, 36, 230, 1);
  border: 1px #4AED52 solid;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  width: 200px;
  -webkit-box-shadow: 0 0 12px 1.5px #cf5959;
  -moz-box-shadow: 0 0 12px 1.5px #cf5959;
  box-shadow: 0 0 12px 1.5px #cf5959;
}
.landing-hero-connect:hover {
  -webkit-box-shadow: 0 0 12px 4.5px #cf5959;
  -moz-box-shadow: 0 0 12px 4.5px #cf5959;
  box-shadow: 0 0 12px 4.5px #cf5959;
}
.landing-hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-hero-content-2{
  font-size: clamp(1rem, 4.5vw, 3.7rem);
  font-weight: bold;
}
.landing-hero-title{
  margin-left: 10px;
}
.landing-hero-image{
  margin-left: -50px;
}
.landing-hero-ellipse1{
  position: absolute;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background: rgba(189, 36, 230, 0.4);
  filter: blur(72px);
  bottom: -18%;
  left: -14%;
}
.landing-hero-ellipse2{
  position: absolute;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background: rgba(76, 233, 85, 0.4);
  filter: blur(72px);
  top: 5%;
  right: -14%;
}
@media screen and (max-width: 1200px){
  .landing-hero-container{
      height: 90vh !important;
  }
}
@media (min-width: 200px) and (max-width: 400px){
  .landing-hero-container{
    background: url('./images/landing/heroBg-1.png') 90% 0%, url('./images/landing/heroBg-2.png') center top !important;
   padding: 20px 20px;
    overflow: hidden;
    position: relative;
    height: 104vh !important;
  }
  .landing-hero-title{
      display: none;
  }
  .landing-nav-item{
    display: none;
  }
  .landing-hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center !important;
  margin-top: 40px;
}
.landing-hero-content-2{
  font-size: 40px;
  font-weight: 700;
}
.landing-hero-content-3{
  margin-bottom: 20px;
}
.landing-hero-connect{
  text-align: center;
  padding: 3px 20px;
  margin: 0 auto;
  width: 200px;
}
.landing-hero-grid3{
  flex-shrink: 0;
  align-items: center;
}
  .landing-hero-image{
    margin: 0px;
    width: 57% !important;
    height: 57% !important;

  }
  .landing-hero-ellipse2{
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: rgba(76, 233, 85, 0.4);
    filter: blur(72px);
    top: -10%;
    right: -14%;
  }
}


/* COMPANIES */
.landing-companies-container{
  background: url('./images/landing/companiesBg.png') center center !important;
  padding: 0px 80px;
  display: flex;
  justify-content: center;
  height: 20vh;
}
.landing-companies-logos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.landing-companies-text{
  margin-left: 10px;
}
@media screen and (max-width: 1200px){
  .landing-companies-container{
      height: 18vh !important;
  }
}
@media (min-width: 200px) and (max-width: 400px){
  .landing-companies-container{
    height: 20vh !important;
    padding: 0px 10px;
  }
  .landing-companies-logos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly !important;
}
.landing-companies-company{
  display: flex;
  flex-direction: column;
  text-align: center;
}
  .landing-companies-icon{
    width: 83% !important;
    height: 83% !important;
    margin: 5px;
  }
  .landing-companies-text{
    text-align: center;
    margin-left: 0px;
    font-size: 50%;
  }
}


/* TRENDING */
.landing-trending-container{
  background: url('./images/landing/trendingBg.png') center center !important;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.landing-trending-cards{
  margin-top: -60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.landing-trending-button{
  padding: 3px 20px;
  background: rgba(189, 36, 230, 1);
  border: 1px #4AED52 solid;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
  width: 200px;
  -webkit-box-shadow: 0 0 12px 1.5px #cf5959;
  -moz-box-shadow: 0 0 12px 1.5px #cf5959;
  box-shadow: 0 0 12px 1.5px #cf5959;
}
.landing-trending-button:hover {
  -webkit-box-shadow: 0 0 12px 4.5px #cf5959;
  -moz-box-shadow: 0 0 12px 4.5px #cf5959;
  box-shadow: 0 0 12px 4.5px #cf5959;
}
@media (min-width: 200px) and (max-width: 400px){
  .landing-trending-container{
    padding: 60px 20px;
  }
  .landing-trending-cards{
    margin-top: 0px;
    flex-direction: column;
  }
}
/* FOOTER */
.landing-footer-container{
  background: url('./images/landing/footerBg-2.png') center center !important;
  padding: 60px 80px 20px;
  display: flex;
  justify-content: center;
  height: 78vh;
}
.landing-footer-title,
.landing-hero-title{
  background: -webkit-linear-gradient( #E051F1, #1FF2F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing-footer-paragraph{
}
.landing-footer-row1-col2{
  display: flex;
  justify-content: space-between;
}
.landing-footer-links{
  display: flex;
  flex-direction: column;
}
.landing-footer-links > * {
  margin-bottom: 15px;
}
.landing-footer-socials{
  display: flex;
  gap: 2%;
}
.landing-footer-row2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1200px){
  .landing-footer-container{
      height: 66vh !important;
  }
}
@media (min-width: 200px) and (max-width: 400px){
  .landing-footer-container{
    padding: 0px 20px 70px;
    flex-direction: column;
    height: 78vh !important;
    font-size: 81%;
    margin-bottom: -95px;
  }
  .landing-footer-row1-col1{
    text-align: center;
  }
  .landing-footer-socials{
  justify-content: space-evenly;
  }
  .landing-footer-paragraph{
    text-align: center;
  }
  .landing-footer-row1-col2{
    margin-top: 20px;
  }
  .landing-footer-row2{
    margin-top: -60px;
    flex-direction: column;
    justify-content: center;
  }
}